name: CI

on: pull_request

jobs:
  mbtiny-dist:
    runs-on: ubuntu-latest
    container:
      image: perl:5.38
    steps:
      - uses: actions/checkout@v4
      - run: cpanm --quiet --notest App::ModuleBuildTiny
      - run: mbtiny distdir
      - run: echo ./App-perlbrew-*
      - uses: actions/upload-artifact@v4
        with:
          name: App-perlbrew-distdir
          path: ./App-perlbrew-*
          retention-days: 5

  cpanm-dist:
    needs: mbtiny-dist
    strategy:
      matrix:
        version: ["5.40","5.38", "5.36", "5.34", "5.18"]
    name: cpanm-dist-perl-${{ matrix.version }}
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-setup-perl@v1.31.3
        with:
          perl-version: ${{ matrix.version }}
      - uses: actions/download-artifact@v4
        with:
          name: App-perlbrew-distdir
      - run: echo ./App-perlbrew-*
      - run: cpanm --verbose ./App-perlbrew-*

  cpanm-dist-in-container:
    needs: mbtiny-dist
    strategy:
      matrix:
        version: ["5.41"]
    name: cpanm-dist-perl-${{ matrix.version }}
    runs-on: ubuntu-latest
    container:
      image: perl:${{ matrix.version }}
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: App-perlbrew-distdir
      - run: echo ./App-perlbrew-*
      - run: cpanm --verbose ./App-perlbrew-*
